<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
                         "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <!-- <listener> <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class> 
		</listener> -->
 <servlet>
  <servlet-name>dvlclient</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.DVLClient</servlet-class>
  <load-on-startup>0</load-on-startup>
 </servlet>
 <servlet>
  <servlet-name>dvlcatda</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.CargoCatDA</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dvlunitlevel</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.UnitLevelDA</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dvlgeoloc</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.GeolocationDA</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>dvlmean</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.MeanDA</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dvlmode</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.ModeDA</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dvltucha</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.TuchaDA</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dvltudet</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.TudetDA</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>dvlstoptype</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.StopTypeDA</servlet-class>
 </servlet>
  <servlet>
  <servlet-name>dvltuchastandard</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.da.ref.TuchaStandardDA</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>test</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.Test</servlet-class>
 </servlet>
 <servlet>
  <servlet-name>DVLClient</servlet-name>
  <servlet-class>mil.army.drrsa.projection.jfw.wsclient.DVLClient</servlet-class>
 </servlet>
 <servlet-mapping>
  <servlet-name>dvlclient</servlet-name>
  <url-pattern>/dvlclient/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dvlcatda</servlet-name>
  <url-pattern>/dvlcatda/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dvlunitlevel</servlet-name>
  <url-pattern>/dvlunitlevel/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dvlgeoloc</servlet-name>
  <url-pattern>/dvlgeoloc/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dvltucha</servlet-name>
  <url-pattern>/dvltucha/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dvltudet</servlet-name>
  <url-pattern>/dvltudet/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dvlstoptype</servlet-name>
  <url-pattern>/dvlstoptype/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>dvltuchastandard</servlet-name>
  <url-pattern>/dvltuchastandard/*</url-pattern>
 </servlet-mapping>
 <servlet-mapping>
  <servlet-name>test</servlet-name>
  <url-pattern>/test/*</url-pattern>
 </servlet-mapping>
</web-app>
